{% extends 'base.html.twig' %}

{% block title %}Hello EmpleadoController!{% endblock %}

{% block body %}
    <header>
        <div>
            <nav class="bg-white border-gray-200 dark:bg-gray-900">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <p class="flex items-center space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Listado de empleados</span>
                </p>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{{ path('app_empleado_create') }}" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Nuevo Empleado</a>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="m-4">

        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Id</th>
                    <th scope="col" class="px-6 py-3">Nombre</th>
                    <th scope="col" class="px-6 py-3">Sexo</th>
                    <th scope="col" class="px-6 py-3">DNI</th>
                    <th scope="col" class="px-6 py-3">Departamento</th>
                    <th scope="col" class="px-6 py-3">Cargo</th>
                    <th scope="col" class="px-6 py-3">Nacionalidad</th>
                    <th scope="col" class="px-6 py-3" colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for empleado in empleados%}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">{{ empleado.id }}</td>
                        <td class="px-6 py-4">{{ empleado.names }}</td>
                        <td class="px-6 py-4">{{ empleado.sexo }}</td>
                        <td class="px-6 py-4">{{ empleado.dni }}</td>
                        <td class="px-6 py-4">{{ empleado.depto_desc }}</td>
                        <td class="px-6 py-4">{{ empleado.cargo_desc }}</td>
                        <td class="px-6 py-4">{{ empleado.nacionalidad }}</td>
                        <td class="px-6 py-4">
                            <form action="{{ path('app_empleado_edit', {'id':empleado.id}) }}" method="GET">
                                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
                                    Editar
                                </button>
                            </form>
                        </td>
                        <td class="px-6 py-4">
                            <form action="{{ path('app_empleado_delete', {'id':empleado.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empleado.id) }}">
                                <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4" colspan="6">no hay empleados para mostrar</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>
{% endblock %}

